@import "./vendors/bootstrap.scss";
.jumbotron {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #e0bcb8 0%, #e2d9d9 100%);
  // overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 551px 755px #fff, 393px 500px #fff, 284px 314px #fff,
    678px 1172px #fff, 1686px 439px #fff, 906px 984px #fff, 555px 1494px #fff,
    740px 738px #fff, 1276px 1877px #fff, 1872px 1398px #fff, 1918px 1072px #fff,
    1310px 1682px #fff, 416px 1077px #fff, 1505px 1542px #fff, 1309px 834px #fff,
    805px 1535px #fff, 1783px 1779px #fff, 936px 923px #fff, 150px 1051px #fff,
    1836px 1991px #fff, 162px 405px #fff, 123px 845px #fff, 40px 309px #fff,
    861px 669px #fff, 1352px 559px #fff, 9px 977px #fff, 554px 1055px #fff,
    1130px 476px #fff, 1011px 313px #fff, 175px 909px #fff, 1429px 1707px #fff,
    1429px 339px #fff, 1036px 1799px #fff, 1659px 913px #fff, 106px 1019px #fff,
    363px 925px #fff, 681px 1353px #fff, 1507px 1485px #fff, 1745px 220px #fff,
    1350px 1272px #fff, 869px 1149px #fff, 592px 1031px #fff, 1210px 194px #fff,
    871px 26px #fff, 497px 1249px #fff, 1774px 1382px #fff, 1928px 440px #fff,
    262px 575px #fff, 126px 1860px #fff, 1887px 1609px #fff, 1215px 1379px #fff,
    430px 298px #fff, 881px 271px #fff, 1101px 653px #fff, 1329px 1905px #fff,
    529px 1961px #fff, 286px 490px #fff, 1646px 71px #fff, 1228px 1606px #fff,
    1896px 1864px #fff, 1210px 1785px #fff, 921px 522px #fff, 297px 1127px #fff,
    1849px 759px #fff, 1981px 581px #fff, 86px 809px #fff, 1274px 88px #fff,
    1112px 1746px #fff, 528px 363px #fff, 1327px 565px #fff, 1029px 1243px #fff,
    1374px 1655px #fff, 1686px 281px #fff, 841px 368px #fff, 248px 209px #fff,
    307px 1806px #fff, 788px 1194px #fff, 1057px 725px #fff, 964px 586px #fff,
    1954px 1490px #fff, 823px 510px #fff, 1074px 1627px #fff, 729px 1785px #fff,
    409px 862px #fff, 726px 1157px #fff, 636px 1332px #fff, 1761px 1410px #fff,
    1173px 612px #fff, 69px 1808px #fff, 995px 602px #fff, 1074px 1573px #fff,
    1904px 673px #fff, 1856px 1893px #fff, 1805px 736px #fff, 6px 1264px #fff,
    1942px 843px #fff, 654px 1916px #fff, 1897px 894px #fff, 1412px 186px #fff,
    1964px 1688px #fff, 1966px 1336px #fff, 891px 1192px #fff, 884px 136px #fff,
    600px 32px #fff, 1705px 83px #fff, 1871px 90px #fff, 1604px 1538px #fff,
    157px 453px #fff, 722px 484px #fff, 1800px 142px #fff, 398px 465px #fff,
    666px 1637px #fff, 1557px 129px #fff, 1465px 1398px #fff, 239px 810px #fff,
    786px 67px #fff, 1970px 932px #fff, 1643px 397px #fff, 1404px 397px #fff,
    1998px 1677px #fff, 973px 1175px #fff, 323px 1291px #fff, 1389px 128px #fff,
    1215px 1215px #fff, 1155px 658px #fff, 1062px 596px #fff, 1811px 1665px #fff,
    1535px 894px #fff, 330px 888px #fff, 832px 856px #fff, 1837px 1460px #fff,
    809px 1318px #fff, 1870px 1382px #fff, 418px 213px #fff, 434px 1789px #fff,
    1586px 1762px #fff, 491px 843px #fff, 104px 836px #fff, 493px 169px #fff,
    1850px 250px #fff, 1624px 1731px #fff, 1248px 1389px #fff, 1499px 639px #fff,
    763px 1049px #fff, 1273px 1687px #fff, 1780px 518px #fff, 1125px 1981px #fff,
    271px 1377px #fff, 1165px 1065px #fff, 1524px 1365px #fff, 1738px 648px #fff,
    1973px 1381px #fff, 1293px 704px #fff, 1300px 1234px #fff, 1790px 725px #fff,
    756px 659px #fff, 5px 117px #fff, 761px 1937px #fff, 903px 670px #fff,
    462px 571px #fff, 1816px 230px #fff, 689px 1987px #fff, 481px 751px #fff,
    1312px 37px #fff, 1967px 1875px #fff, 1950px 121px #fff, 1291px 1722px #fff,
    1674px 1174px #fff, 1717px 793px #fff, 1530px 93px #fff, 551px 1369px #fff,
    1012px 1220px #fff, 1126px 1210px #fff, 1469px 1090px #fff, 631px 125px #fff,
    1129px 1649px #fff, 1887px 1012px #fff, 952px 1899px #fff, 1624px 995px #fff,
    607px 823px #fff, 139px 402px #fff, 203px 1006px #fff, 313px 1267px #fff,
    209px 87px #fff, 964px 1367px #fff, 1110px 1430px #fff, 770px 1230px #fff,
    1250px 1289px #fff, 62px 1167px #fff, 770px 891px #fff, 274px 236px #fff,
    1974px 318px #fff, 715px 1544px #fff, 1096px 482px #fff, 461px 1636px #fff,
    923px 1695px #fff, 620px 978px #fff, 288px 1213px #fff, 1330px 1418px #fff,
    1137px 479px #fff, 43px 1675px #fff, 837px 208px #fff, 1874px 1261px #fff,
    5px 9px #fff, 1684px 650px #fff, 1855px 234px #fff, 601px 1325px #fff,
    1923px 96px #fff, 418px 991px #fff, 382px 1695px #fff, 152px 1329px #fff,
    1756px 1287px #fff, 670px 708px #fff, 646px 1726px #fff, 1298px 685px #fff,
    136px 409px #fff, 1282px 229px #fff, 1326px 1696px #fff, 1261px 751px #fff,
    530px 1018px #fff, 1840px 606px #fff, 1389px 1998px #fff, 1457px 1194px #fff,
    143px 1850px #fff, 885px 1397px #fff, 1897px 1752px #fff, 1699px 1677px #fff,
    1196px 660px #fff, 987px 542px #fff, 1019px 723px #fff, 939px 1317px #fff,
    1982px 1809px #fff, 1592px 1180px #fff, 1058px 1066px #fff,
    1009px 1551px #fff, 806px 1948px #fff, 1397px 222px #fff, 465px 1295px #fff,
    773px 1732px #fff, 1897px 498px #fff, 202px 5px #fff, 1993px 798px #fff,
    953px 1542px #fff, 1975px 1452px #fff, 1867px 1765px #fff, 372px 1788px #fff,
    1103px 1495px #fff, 1449px 449px #fff, 604px 1059px #fff, 1840px 1349px #fff,
    1108px 777px #fff, 351px 1058px #fff, 317px 1270px #fff, 1021px 697px #fff,
    452px 957px #fff, 312px 41px #fff, 798px 1729px #fff, 1253px 760px #fff,
    709px 285px #fff, 857px 1742px #fff, 748px 572px #fff, 1986px 791px #fff,
    1193px 87px #fff, 20px 1260px #fff, 1402px 1214px #fff, 369px 1611px #fff,
    1690px 445px #fff, 506px 156px #fff, 748px 1660px #fff, 1756px 1271px #fff,
    376px 1041px #fff, 950px 167px #fff, 1758px 41px #fff, 867px 1084px #fff,
    1352px 604px #fff, 1960px 529px #fff, 320px 1236px #fff, 291px 771px #fff,
    1162px 340px #fff, 748px 693px #fff, 231px 1113px #fff, 806px 1591px #fff,
    447px 1946px #fff, 1316px 293px #fff, 621px 1399px #fff, 749px 871px #fff,
    1946px 922px #fff, 1989px 109px #fff, 191px 442px #fff, 16px 508px #fff,
    534px 1535px #fff, 1441px 1517px #fff, 23px 1010px #fff, 539px 1816px #fff,
    1346px 593px #fff, 563px 493px #fff, 685px 888px #fff, 1099px 648px #fff,
    1293px 324px #fff, 1089px 1095px #fff, 1467px 103px #fff, 907px 610px #fff,
    1475px 1442px #fff, 727px 757px #fff, 636px 944px #fff, 1754px 1013px #fff,
    1348px 1333px #fff, 1233px 240px #fff, 1671px 1967px #fff, 189px 532px #fff,
    310px 1227px #fff, 173px 107px #fff, 1562px 1007px #fff, 350px 1143px #fff,
    1156px 339px #fff, 1528px 878px #fff, 468px 124px #fff, 596px 378px #fff,
    1826px 796px #fff, 884px 335px #fff, 1484px 131px #fff, 883px 1631px #fff,
    1239px 1701px #fff, 244px 1111px #fff, 1025px 1950px #fff,
    1841px 1365px #fff, 482px 1313px #fff, 429px 1898px #fff, 1031px 1032px #fff,
    1498px 1937px #fff, 1766px 857px #fff, 868px 1396px #fff, 81px 1887px #fff,
    929px 1187px #fff, 1235px 1048px #fff, 230px 1914px #fff, 1543px 845px #fff,
    1072px 1950px #fff, 223px 1330px #fff, 378px 551px #fff, 177px 1982px #fff,
    1016px 1819px #fff, 660px 1804px #fff, 774px 169px #fff, 1825px 571px #fff,
    1073px 196px #fff, 513px 616px #fff, 1320px 525px #fff, 1624px 1399px #fff,
    205px 250px #fff, 522px 477px #fff, 1615px 1723px #fff, 1113px 96px #fff,
    1544px 1566px #fff, 1025px 1650px #fff, 911px 429px #fff, 567px 983px #fff,
    51px 812px #fff, 1653px 769px #fff, 1625px 548px #fff, 884px 1650px #fff,
    338px 622px #fff, 1153px 1124px #fff, 1748px 990px #fff, 142px 1722px #fff,
    973px 267px #fff, 826px 802px #fff, 1353px 316px #fff, 991px 811px #fff,
    1003px 1002px #fff, 1461px 1881px #fff, 690px 43px #fff, 245px 673px #fff,
    516px 1856px #fff, 71px 1061px #fff, 1786px 970px #fff, 1282px 706px #fff,
    757px 1916px #fff, 1566px 1099px #fff, 1584px 1429px #fff, 1890px 494px #fff,
    1698px 1701px #fff, 264px 1474px #fff, 1133px 812px #fff, 1718px 1450px #fff,
    1155px 1000px #fff, 1418px 880px #fff, 1570px 299px #fff, 754px 442px #fff,
    978px 294px #fff, 1072px 1559px #fff, 424px 1788px #fff, 1112px 163px #fff,
    328px 735px #fff, 1016px 1832px #fff, 575px 1830px #fff, 212px 953px #fff,
    1635px 1708px #fff, 953px 918px #fff, 61px 420px #fff, 1733px 155px #fff,
    120px 1393px #fff, 677px 291px #fff, 1052px 718px #fff, 880px 1233px #fff,
    225px 1941px #fff, 1165px 668px #fff, 1724px 1055px #fff, 609px 1784px #fff,
    541px 1247px #fff, 1843px 866px #fff, 1530px 859px #fff, 1290px 1813px #fff,
    65px 990px #fff, 1824px 1416px #fff, 1480px 426px #fff, 1141px 1640px #fff,
    92px 1688px #fff, 634px 1512px #fff, 1043px 1686px #fff, 504px 1499px #fff,
    523px 1858px #fff, 472px 356px #fff, 1002px 910px #fff, 1117px 989px #fff,
    1859px 882px #fff, 1244px 984px #fff, 986px 971px #fff, 1788px 1643px #fff,
    712px 1561px #fff, 434px 730px #fff, 1704px 1935px #fff, 1519px 611px #fff,
    1725px 961px #fff, 1628px 1058px #fff, 679px 510px #fff, 834px 7px #fff,
    1643px 899px #fff, 1420px 447px #fff, 538px 1555px #fff, 484px 902px #fff,
    1385px 871px #fff, 1407px 1372px #fff, 809px 105px #fff, 1400px 881px #fff,
    654px 812px #fff, 1316px 1930px #fff, 1070px 738px #fff, 1926px 1232px #fff,
    574px 343px #fff, 483px 524px #fff, 1761px 1695px #fff, 1825px 846px #fff,
    937px 1551px #fff, 136px 741px #fff, 845px 1375px #fff, 962px 1013px #fff,
    734px 1746px #fff, 1995px 886px #fff, 108px 713px #fff, 1984px 737px #fff,
    40px 962px #fff, 1215px 1706px #fff, 1980px 597px #fff, 1212px 1381px #fff,
    1327px 791px #fff, 1777px 182px #fff, 1836px 1454px #fff, 1229px 379px #fff,
    1572px 406px #fff, 1594px 1454px #fff, 762px 131px #fff, 51px 1181px #fff,
    489px 1882px #fff, 816px 1974px #fff, 310px 374px #fff, 1061px 1906px #fff,
    406px 1458px #fff, 1792px 1196px #fff, 1362px 866px #fff, 62px 1105px #fff,
    1368px 20px #fff, 31px 1258px #fff, 291px 71px #fff, 589px 1794px #fff,
    48px 1903px #fff, 1110px 327px #fff, 1983px 778px #fff, 1588px 1668px #fff,
    1653px 727px #fff, 470px 967px #fff, 608px 1432px #fff, 664px 830px #fff,
    234px 1147px #fff, 1460px 347px #fff, 99px 224px #fff, 22px 1911px #fff,
    891px 554px #fff, 1238px 1484px #fff, 1926px 1719px #fff, 58px 1837px #fff,
    1030px 417px #fff, 427px 266px #fff, 1819px 884px #fff, 1697px 1653px #fff,
    182px 843px #fff, 1064px 333px #fff, 662px 1525px #fff, 1987px 1674px #fff,
    1611px 1528px #fff, 1491px 545px #fff, 1775px 523px #fff, 1025px 1244px #fff,
    634px 835px #fff, 252px 925px #fff, 556px 1487px #fff, 831px 743px #fff,
    1063px 656px #fff, 1193px 1093px #fff, 1985px 1094px #fff, 245px 1113px #fff,
    896px 1086px #fff, 255px 529px #fff, 738px 1402px #fff, 252px 614px #fff,
    1575px 1538px #fff, 586px 471px #fff, 1671px 514px #fff, 1832px 1842px #fff,
    770px 1343px #fff, 1635px 1839px #fff, 1605px 1328px #fff, 625px 541px #fff,
    192px 30px #fff, 1087px 1351px #fff, 1998px 1396px #fff, 1670px 168px #fff,
    1940px 882px #fff, 150px 1603px #fff, 708px 250px #fff, 713px 187px #fff,
    257px 378px #fff, 1025px 1821px #fff, 1347px 1789px #fff, 1217px 479px #fff,
    319px 955px #fff, 421px 1215px #fff, 465px 620px #fff, 188px 878px #fff,
    648px 1221px #fff, 1348px 716px #fff, 997px 669px #fff, 1822px 361px #fff,
    1372px 939px #fff, 1177px 1351px #fff, 443px 1095px #fff, 1030px 916px #fff,
    1590px 876px #fff, 1979px 924px #fff, 1065px 1841px #fff, 273px 1615px #fff,
    1150px 1687px #fff, 1080px 984px #fff, 1409px 1278px #fff, 42px 1565px #fff,
    1143px 1188px #fff, 106px 246px #fff, 1313px 1666px #fff, 451px 905px #fff,
    1753px 1260px #fff, 1628px 656px #fff, 1016px 1051px #fff,
    1325px 1133px #fff, 730px 1346px #fff, 1267px 1104px #fff, 441px 1837px #fff,
    864px 535px #fff, 643px 1207px #fff, 1435px 306px #fff, 1301px 71px #fff,
    1643px 1043px #fff, 800px 1758px #fff, 1876px 1608px #fff, 86px 1563px #fff,
    932px 1212px #fff, 69px 1769px #fff, 1617px 1415px #fff, 734px 1136px #fff,
    206px 1111px #fff, 807px 1957px #fff, 1732px 1506px #fff, 871px 967px #fff,
    1695px 1063px #fff, 1849px 1858px #fff, 301px 194px #fff, 803px 1876px #fff,
    116px 882px #fff, 896px 50px #fff, 1354px 1824px #fff, 1756px 1065px #fff,
    191px 1442px #fff, 1433px 373px #fff, 1146px 1857px #fff, 1728px 1173px #fff,
    102px 1751px #fff, 1513px 628px #fff, 12px 417px #fff, 1614px 820px #fff,
    1713px 543px #fff, 1871px 600px #fff, 1179px 562px #fff, 1597px 1105px #fff,
    12px 1235px #fff, 1314px 854px #fff, 1516px 378px #fff, 958px 1018px #fff,
    1318px 713px #fff, 1877px 1222px #fff, 854px 1995px #fff, 790px 694px #fff,
    247px 1303px #fff, 606px 379px #fff, 1439px 1918px #fff, 1691px 1266px #fff,
    1852px 1201px #fff, 1863px 1652px #fff, 51px 541px #fff, 835px 555px #fff,
    831px 949px #fff, 1017px 1448px #fff, 32px 898px #fff, 473px 1835px #fff,
    126px 753px #fff, 1178px 1275px #fff, 836px 752px #fff, 299px 863px #fff,
    1839px 32px #fff, 19px 1323px #fff, 1027px 1673px #fff, 614px 290px #fff,
    584px 1125px #fff, 1049px 44px #fff, 402px 642px #fff, 1157px 1845px #fff,
    1481px 945px #fff, 1709px 479px #fff, 1985px 1009px #fff, 204px 152px #fff,
    1902px 113px #fff, 690px 497px #fff, 1796px 923px #fff, 1902px 1057px #fff,
    1465px 152px #fff, 333px 834px #fff, 782px 1522px #fff, 1726px 188px #fff,
    1738px 1017px #fff, 1513px 1258px #fff, 526px 1468px #fff, 916px 289px #fff,
    1479px 521px #fff, 175px 370px #fff, 573px 1090px #fff, 1053px 1505px #fff,
    1166px 179px #fff, 1964px 604px #fff, 23px 575px #fff, 805px 487px #fff,
    728px 695px #fff, 447px 1092px #fff, 1173px 1142px #fff, 2000px 87px #fff,
    63px 1397px #fff, 1634px 696px #fff, 425px 432px #fff, 437px 1443px #fff,
    734px 1018px #fff, 1540px 978px #fff, 1548px 448px #fff, 695px 348px #fff,
    1796px 1477px #fff, 70px 963px #fff, 231px 1609px #fff, 176px 1796px #fff,
    1273px 585px #fff, 876px 491px #fff, 1060px 1629px #fff, 253px 526px #fff,
    731px 633px #fff, 626px 1825px #fff, 1643px 1963px #fff, 1968px 537px #fff,
    530px 1992px #fff, 1126px 1804px #fff, 1023px 1841px #fff,
    1552px 1300px #fff, 91px 442px #fff, 1934px 554px #fff, 396px 1428px #fff,
    281px 573px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 551px 755px #fff, 393px 500px #fff, 284px 314px #fff,
    678px 1172px #fff, 1686px 439px #fff, 906px 984px #fff, 555px 1494px #fff,
    740px 738px #fff, 1276px 1877px #fff, 1872px 1398px #fff, 1918px 1072px #fff,
    1310px 1682px #fff, 416px 1077px #fff, 1505px 1542px #fff, 1309px 834px #fff,
    805px 1535px #fff, 1783px 1779px #fff, 936px 923px #fff, 150px 1051px #fff,
    1836px 1991px #fff, 162px 405px #fff, 123px 845px #fff, 40px 309px #fff,
    861px 669px #fff, 1352px 559px #fff, 9px 977px #fff, 554px 1055px #fff,
    1130px 476px #fff, 1011px 313px #fff, 175px 909px #fff, 1429px 1707px #fff,
    1429px 339px #fff, 1036px 1799px #fff, 1659px 913px #fff, 106px 1019px #fff,
    363px 925px #fff, 681px 1353px #fff, 1507px 1485px #fff, 1745px 220px #fff,
    1350px 1272px #fff, 869px 1149px #fff, 592px 1031px #fff, 1210px 194px #fff,
    871px 26px #fff, 497px 1249px #fff, 1774px 1382px #fff, 1928px 440px #fff,
    262px 575px #fff, 126px 1860px #fff, 1887px 1609px #fff, 1215px 1379px #fff,
    430px 298px #fff, 881px 271px #fff, 1101px 653px #fff, 1329px 1905px #fff,
    529px 1961px #fff, 286px 490px #fff, 1646px 71px #fff, 1228px 1606px #fff,
    1896px 1864px #fff, 1210px 1785px #fff, 921px 522px #fff, 297px 1127px #fff,
    1849px 759px #fff, 1981px 581px #fff, 86px 809px #fff, 1274px 88px #fff,
    1112px 1746px #fff, 528px 363px #fff, 1327px 565px #fff, 1029px 1243px #fff,
    1374px 1655px #fff, 1686px 281px #fff, 841px 368px #fff, 248px 209px #fff,
    307px 1806px #fff, 788px 1194px #fff, 1057px 725px #fff, 964px 586px #fff,
    1954px 1490px #fff, 823px 510px #fff, 1074px 1627px #fff, 729px 1785px #fff,
    409px 862px #fff, 726px 1157px #fff, 636px 1332px #fff, 1761px 1410px #fff,
    1173px 612px #fff, 69px 1808px #fff, 995px 602px #fff, 1074px 1573px #fff,
    1904px 673px #fff, 1856px 1893px #fff, 1805px 736px #fff, 6px 1264px #fff,
    1942px 843px #fff, 654px 1916px #fff, 1897px 894px #fff, 1412px 186px #fff,
    1964px 1688px #fff, 1966px 1336px #fff, 891px 1192px #fff, 884px 136px #fff,
    600px 32px #fff, 1705px 83px #fff, 1871px 90px #fff, 1604px 1538px #fff,
    157px 453px #fff, 722px 484px #fff, 1800px 142px #fff, 398px 465px #fff,
    666px 1637px #fff, 1557px 129px #fff, 1465px 1398px #fff, 239px 810px #fff,
    786px 67px #fff, 1970px 932px #fff, 1643px 397px #fff, 1404px 397px #fff,
    1998px 1677px #fff, 973px 1175px #fff, 323px 1291px #fff, 1389px 128px #fff,
    1215px 1215px #fff, 1155px 658px #fff, 1062px 596px #fff, 1811px 1665px #fff,
    1535px 894px #fff, 330px 888px #fff, 832px 856px #fff, 1837px 1460px #fff,
    809px 1318px #fff, 1870px 1382px #fff, 418px 213px #fff, 434px 1789px #fff,
    1586px 1762px #fff, 491px 843px #fff, 104px 836px #fff, 493px 169px #fff,
    1850px 250px #fff, 1624px 1731px #fff, 1248px 1389px #fff, 1499px 639px #fff,
    763px 1049px #fff, 1273px 1687px #fff, 1780px 518px #fff, 1125px 1981px #fff,
    271px 1377px #fff, 1165px 1065px #fff, 1524px 1365px #fff, 1738px 648px #fff,
    1973px 1381px #fff, 1293px 704px #fff, 1300px 1234px #fff, 1790px 725px #fff,
    756px 659px #fff, 5px 117px #fff, 761px 1937px #fff, 903px 670px #fff,
    462px 571px #fff, 1816px 230px #fff, 689px 1987px #fff, 481px 751px #fff,
    1312px 37px #fff, 1967px 1875px #fff, 1950px 121px #fff, 1291px 1722px #fff,
    1674px 1174px #fff, 1717px 793px #fff, 1530px 93px #fff, 551px 1369px #fff,
    1012px 1220px #fff, 1126px 1210px #fff, 1469px 1090px #fff, 631px 125px #fff,
    1129px 1649px #fff, 1887px 1012px #fff, 952px 1899px #fff, 1624px 995px #fff,
    607px 823px #fff, 139px 402px #fff, 203px 1006px #fff, 313px 1267px #fff,
    209px 87px #fff, 964px 1367px #fff, 1110px 1430px #fff, 770px 1230px #fff,
    1250px 1289px #fff, 62px 1167px #fff, 770px 891px #fff, 274px 236px #fff,
    1974px 318px #fff, 715px 1544px #fff, 1096px 482px #fff, 461px 1636px #fff,
    923px 1695px #fff, 620px 978px #fff, 288px 1213px #fff, 1330px 1418px #fff,
    1137px 479px #fff, 43px 1675px #fff, 837px 208px #fff, 1874px 1261px #fff,
    5px 9px #fff, 1684px 650px #fff, 1855px 234px #fff, 601px 1325px #fff,
    1923px 96px #fff, 418px 991px #fff, 382px 1695px #fff, 152px 1329px #fff,
    1756px 1287px #fff, 670px 708px #fff, 646px 1726px #fff, 1298px 685px #fff,
    136px 409px #fff, 1282px 229px #fff, 1326px 1696px #fff, 1261px 751px #fff,
    530px 1018px #fff, 1840px 606px #fff, 1389px 1998px #fff, 1457px 1194px #fff,
    143px 1850px #fff, 885px 1397px #fff, 1897px 1752px #fff, 1699px 1677px #fff,
    1196px 660px #fff, 987px 542px #fff, 1019px 723px #fff, 939px 1317px #fff,
    1982px 1809px #fff, 1592px 1180px #fff, 1058px 1066px #fff,
    1009px 1551px #fff, 806px 1948px #fff, 1397px 222px #fff, 465px 1295px #fff,
    773px 1732px #fff, 1897px 498px #fff, 202px 5px #fff, 1993px 798px #fff,
    953px 1542px #fff, 1975px 1452px #fff, 1867px 1765px #fff, 372px 1788px #fff,
    1103px 1495px #fff, 1449px 449px #fff, 604px 1059px #fff, 1840px 1349px #fff,
    1108px 777px #fff, 351px 1058px #fff, 317px 1270px #fff, 1021px 697px #fff,
    452px 957px #fff, 312px 41px #fff, 798px 1729px #fff, 1253px 760px #fff,
    709px 285px #fff, 857px 1742px #fff, 748px 572px #fff, 1986px 791px #fff,
    1193px 87px #fff, 20px 1260px #fff, 1402px 1214px #fff, 369px 1611px #fff,
    1690px 445px #fff, 506px 156px #fff, 748px 1660px #fff, 1756px 1271px #fff,
    376px 1041px #fff, 950px 167px #fff, 1758px 41px #fff, 867px 1084px #fff,
    1352px 604px #fff, 1960px 529px #fff, 320px 1236px #fff, 291px 771px #fff,
    1162px 340px #fff, 748px 693px #fff, 231px 1113px #fff, 806px 1591px #fff,
    447px 1946px #fff, 1316px 293px #fff, 621px 1399px #fff, 749px 871px #fff,
    1946px 922px #fff, 1989px 109px #fff, 191px 442px #fff, 16px 508px #fff,
    534px 1535px #fff, 1441px 1517px #fff, 23px 1010px #fff, 539px 1816px #fff,
    1346px 593px #fff, 563px 493px #fff, 685px 888px #fff, 1099px 648px #fff,
    1293px 324px #fff, 1089px 1095px #fff, 1467px 103px #fff, 907px 610px #fff,
    1475px 1442px #fff, 727px 757px #fff, 636px 944px #fff, 1754px 1013px #fff,
    1348px 1333px #fff, 1233px 240px #fff, 1671px 1967px #fff, 189px 532px #fff,
    310px 1227px #fff, 173px 107px #fff, 1562px 1007px #fff, 350px 1143px #fff,
    1156px 339px #fff, 1528px 878px #fff, 468px 124px #fff, 596px 378px #fff,
    1826px 796px #fff, 884px 335px #fff, 1484px 131px #fff, 883px 1631px #fff,
    1239px 1701px #fff, 244px 1111px #fff, 1025px 1950px #fff,
    1841px 1365px #fff, 482px 1313px #fff, 429px 1898px #fff, 1031px 1032px #fff,
    1498px 1937px #fff, 1766px 857px #fff, 868px 1396px #fff, 81px 1887px #fff,
    929px 1187px #fff, 1235px 1048px #fff, 230px 1914px #fff, 1543px 845px #fff,
    1072px 1950px #fff, 223px 1330px #fff, 378px 551px #fff, 177px 1982px #fff,
    1016px 1819px #fff, 660px 1804px #fff, 774px 169px #fff, 1825px 571px #fff,
    1073px 196px #fff, 513px 616px #fff, 1320px 525px #fff, 1624px 1399px #fff,
    205px 250px #fff, 522px 477px #fff, 1615px 1723px #fff, 1113px 96px #fff,
    1544px 1566px #fff, 1025px 1650px #fff, 911px 429px #fff, 567px 983px #fff,
    51px 812px #fff, 1653px 769px #fff, 1625px 548px #fff, 884px 1650px #fff,
    338px 622px #fff, 1153px 1124px #fff, 1748px 990px #fff, 142px 1722px #fff,
    973px 267px #fff, 826px 802px #fff, 1353px 316px #fff, 991px 811px #fff,
    1003px 1002px #fff, 1461px 1881px #fff, 690px 43px #fff, 245px 673px #fff,
    516px 1856px #fff, 71px 1061px #fff, 1786px 970px #fff, 1282px 706px #fff,
    757px 1916px #fff, 1566px 1099px #fff, 1584px 1429px #fff, 1890px 494px #fff,
    1698px 1701px #fff, 264px 1474px #fff, 1133px 812px #fff, 1718px 1450px #fff,
    1155px 1000px #fff, 1418px 880px #fff, 1570px 299px #fff, 754px 442px #fff,
    978px 294px #fff, 1072px 1559px #fff, 424px 1788px #fff, 1112px 163px #fff,
    328px 735px #fff, 1016px 1832px #fff, 575px 1830px #fff, 212px 953px #fff,
    1635px 1708px #fff, 953px 918px #fff, 61px 420px #fff, 1733px 155px #fff,
    120px 1393px #fff, 677px 291px #fff, 1052px 718px #fff, 880px 1233px #fff,
    225px 1941px #fff, 1165px 668px #fff, 1724px 1055px #fff, 609px 1784px #fff,
    541px 1247px #fff, 1843px 866px #fff, 1530px 859px #fff, 1290px 1813px #fff,
    65px 990px #fff, 1824px 1416px #fff, 1480px 426px #fff, 1141px 1640px #fff,
    92px 1688px #fff, 634px 1512px #fff, 1043px 1686px #fff, 504px 1499px #fff,
    523px 1858px #fff, 472px 356px #fff, 1002px 910px #fff, 1117px 989px #fff,
    1859px 882px #fff, 1244px 984px #fff, 986px 971px #fff, 1788px 1643px #fff,
    712px 1561px #fff, 434px 730px #fff, 1704px 1935px #fff, 1519px 611px #fff,
    1725px 961px #fff, 1628px 1058px #fff, 679px 510px #fff, 834px 7px #fff,
    1643px 899px #fff, 1420px 447px #fff, 538px 1555px #fff, 484px 902px #fff,
    1385px 871px #fff, 1407px 1372px #fff, 809px 105px #fff, 1400px 881px #fff,
    654px 812px #fff, 1316px 1930px #fff, 1070px 738px #fff, 1926px 1232px #fff,
    574px 343px #fff, 483px 524px #fff, 1761px 1695px #fff, 1825px 846px #fff,
    937px 1551px #fff, 136px 741px #fff, 845px 1375px #fff, 962px 1013px #fff,
    734px 1746px #fff, 1995px 886px #fff, 108px 713px #fff, 1984px 737px #fff,
    40px 962px #fff, 1215px 1706px #fff, 1980px 597px #fff, 1212px 1381px #fff,
    1327px 791px #fff, 1777px 182px #fff, 1836px 1454px #fff, 1229px 379px #fff,
    1572px 406px #fff, 1594px 1454px #fff, 762px 131px #fff, 51px 1181px #fff,
    489px 1882px #fff, 816px 1974px #fff, 310px 374px #fff, 1061px 1906px #fff,
    406px 1458px #fff, 1792px 1196px #fff, 1362px 866px #fff, 62px 1105px #fff,
    1368px 20px #fff, 31px 1258px #fff, 291px 71px #fff, 589px 1794px #fff,
    48px 1903px #fff, 1110px 327px #fff, 1983px 778px #fff, 1588px 1668px #fff,
    1653px 727px #fff, 470px 967px #fff, 608px 1432px #fff, 664px 830px #fff,
    234px 1147px #fff, 1460px 347px #fff, 99px 224px #fff, 22px 1911px #fff,
    891px 554px #fff, 1238px 1484px #fff, 1926px 1719px #fff, 58px 1837px #fff,
    1030px 417px #fff, 427px 266px #fff, 1819px 884px #fff, 1697px 1653px #fff,
    182px 843px #fff, 1064px 333px #fff, 662px 1525px #fff, 1987px 1674px #fff,
    1611px 1528px #fff, 1491px 545px #fff, 1775px 523px #fff, 1025px 1244px #fff,
    634px 835px #fff, 252px 925px #fff, 556px 1487px #fff, 831px 743px #fff,
    1063px 656px #fff, 1193px 1093px #fff, 1985px 1094px #fff, 245px 1113px #fff,
    896px 1086px #fff, 255px 529px #fff, 738px 1402px #fff, 252px 614px #fff,
    1575px 1538px #fff, 586px 471px #fff, 1671px 514px #fff, 1832px 1842px #fff,
    770px 1343px #fff, 1635px 1839px #fff, 1605px 1328px #fff, 625px 541px #fff,
    192px 30px #fff, 1087px 1351px #fff, 1998px 1396px #fff, 1670px 168px #fff,
    1940px 882px #fff, 150px 1603px #fff, 708px 250px #fff, 713px 187px #fff,
    257px 378px #fff, 1025px 1821px #fff, 1347px 1789px #fff, 1217px 479px #fff,
    319px 955px #fff, 421px 1215px #fff, 465px 620px #fff, 188px 878px #fff,
    648px 1221px #fff, 1348px 716px #fff, 997px 669px #fff, 1822px 361px #fff,
    1372px 939px #fff, 1177px 1351px #fff, 443px 1095px #fff, 1030px 916px #fff,
    1590px 876px #fff, 1979px 924px #fff, 1065px 1841px #fff, 273px 1615px #fff,
    1150px 1687px #fff, 1080px 984px #fff, 1409px 1278px #fff, 42px 1565px #fff,
    1143px 1188px #fff, 106px 246px #fff, 1313px 1666px #fff, 451px 905px #fff,
    1753px 1260px #fff, 1628px 656px #fff, 1016px 1051px #fff,
    1325px 1133px #fff, 730px 1346px #fff, 1267px 1104px #fff, 441px 1837px #fff,
    864px 535px #fff, 643px 1207px #fff, 1435px 306px #fff, 1301px 71px #fff,
    1643px 1043px #fff, 800px 1758px #fff, 1876px 1608px #fff, 86px 1563px #fff,
    932px 1212px #fff, 69px 1769px #fff, 1617px 1415px #fff, 734px 1136px #fff,
    206px 1111px #fff, 807px 1957px #fff, 1732px 1506px #fff, 871px 967px #fff,
    1695px 1063px #fff, 1849px 1858px #fff, 301px 194px #fff, 803px 1876px #fff,
    116px 882px #fff, 896px 50px #fff, 1354px 1824px #fff, 1756px 1065px #fff,
    191px 1442px #fff, 1433px 373px #fff, 1146px 1857px #fff, 1728px 1173px #fff,
    102px 1751px #fff, 1513px 628px #fff, 12px 417px #fff, 1614px 820px #fff,
    1713px 543px #fff, 1871px 600px #fff, 1179px 562px #fff, 1597px 1105px #fff,
    12px 1235px #fff, 1314px 854px #fff, 1516px 378px #fff, 958px 1018px #fff,
    1318px 713px #fff, 1877px 1222px #fff, 854px 1995px #fff, 790px 694px #fff,
    247px 1303px #fff, 606px 379px #fff, 1439px 1918px #fff, 1691px 1266px #fff,
    1852px 1201px #fff, 1863px 1652px #fff, 51px 541px #fff, 835px 555px #fff,
    831px 949px #fff, 1017px 1448px #fff, 32px 898px #fff, 473px 1835px #fff,
    126px 753px #fff, 1178px 1275px #fff, 836px 752px #fff, 299px 863px #fff,
    1839px 32px #fff, 19px 1323px #fff, 1027px 1673px #fff, 614px 290px #fff,
    584px 1125px #fff, 1049px 44px #fff, 402px 642px #fff, 1157px 1845px #fff,
    1481px 945px #fff, 1709px 479px #fff, 1985px 1009px #fff, 204px 152px #fff,
    1902px 113px #fff, 690px 497px #fff, 1796px 923px #fff, 1902px 1057px #fff,
    1465px 152px #fff, 333px 834px #fff, 782px 1522px #fff, 1726px 188px #fff,
    1738px 1017px #fff, 1513px 1258px #fff, 526px 1468px #fff, 916px 289px #fff,
    1479px 521px #fff, 175px 370px #fff, 573px 1090px #fff, 1053px 1505px #fff,
    1166px 179px #fff, 1964px 604px #fff, 23px 575px #fff, 805px 487px #fff,
    728px 695px #fff, 447px 1092px #fff, 1173px 1142px #fff, 2000px 87px #fff,
    63px 1397px #fff, 1634px 696px #fff, 425px 432px #fff, 437px 1443px #fff,
    734px 1018px #fff, 1540px 978px #fff, 1548px 448px #fff, 695px 348px #fff,
    1796px 1477px #fff, 70px 963px #fff, 231px 1609px #fff, 176px 1796px #fff,
    1273px 585px #fff, 876px 491px #fff, 1060px 1629px #fff, 253px 526px #fff,
    731px 633px #fff, 626px 1825px #fff, 1643px 1963px #fff, 1968px 537px #fff,
    530px 1992px #fff, 1126px 1804px #fff, 1023px 1841px #fff,
    1552px 1300px #fff, 91px 442px #fff, 1934px 554px #fff, 396px 1428px #fff,
    281px 573px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 475px 108px #fff, 1409px 1525px #fff, 1770px 1666px #fff,
    1206px 425px #fff, 687px 824px #fff, 484px 207px #fff, 915px 202px #fff,
    1834px 1690px #fff, 936px 1384px #fff, 1205px 486px #fff, 238px 253px #fff,
    1761px 1731px #fff, 1043px 751px #fff, 1518px 1634px #fff, 622px 1387px #fff,
    740px 328px #fff, 970px 1067px #fff, 423px 1428px #fff, 1450px 996px #fff,
    370px 576px #fff, 415px 1719px #fff, 590px 1238px #fff, 1668px 1202px #fff,
    382px 1105px #fff, 1406px 1276px #fff, 1176px 1370px #fff, 807px 553px #fff,
    101px 401px #fff, 619px 1663px #fff, 1690px 920px #fff, 101px 1606px #fff,
    887px 834px #fff, 1523px 1885px #fff, 987px 74px #fff, 1644px 1517px #fff,
    1277px 473px #fff, 1001px 73px #fff, 941px 117px #fff, 728px 1345px #fff,
    816px 802px #fff, 172px 240px #fff, 188px 239px #fff, 415px 1722px #fff,
    1545px 1592px #fff, 679px 1319px #fff, 47px 111px #fff, 1472px 1096px #fff,
    1826px 1713px #fff, 1552px 1542px #fff, 1408px 928px #fff, 999px 234px #fff,
    515px 1521px #fff, 58px 588px #fff, 1912px 239px #fff, 531px 454px #fff,
    873px 565px #fff, 22px 434px #fff, 884px 1434px #fff, 70px 938px #fff,
    1256px 1324px #fff, 971px 701px #fff, 607px 630px #fff, 1231px 702px #fff,
    415px 1840px #fff, 1103px 1332px #fff, 1267px 627px #fff, 383px 575px #fff,
    1977px 394px #fff, 634px 17px #fff, 1785px 1342px #fff, 690px 177px #fff,
    1031px 1313px #fff, 1297px 331px #fff, 783px 1390px #fff, 1037px 1860px #fff,
    1925px 334px #fff, 1418px 1508px #fff, 96px 1146px #fff, 1367px 1118px #fff,
    619px 781px #fff, 304px 870px #fff, 533px 1389px #fff, 855px 848px #fff,
    1436px 1653px #fff, 32px 673px #fff, 1271px 1014px #fff, 257px 1960px #fff,
    1818px 1277px #fff, 1426px 1244px #fff, 1286px 1347px #fff,
    167px 1034px #fff, 848px 1258px #fff, 1594px 677px #fff, 301px 246px #fff,
    534px 1449px #fff, 1569px 1135px #fff, 1832px 1880px #fff, 220px 478px #fff,
    1601px 304px #fff, 1918px 1135px #fff, 31px 712px #fff, 1270px 1422px #fff,
    389px 1148px #fff, 1977px 415px #fff, 772px 1380px #fff, 1794px 1424px #fff,
    1694px 857px #fff, 1611px 1187px #fff, 1136px 1740px #fff, 1342px 401px #fff,
    1876px 1282px #fff, 1733px 1773px #fff, 564px 1126px #fff,
    1456px 1699px #fff, 1450px 870px #fff, 106px 1696px #fff, 1013px 799px #fff,
    106px 1246px #fff, 1215px 1043px #fff, 1337px 385px #fff, 1336px 35px #fff,
    299px 1666px #fff, 1955px 18px #fff, 640px 1419px #fff, 1386px 279px #fff,
    1115px 170px #fff, 1110px 593px #fff, 1586px 644px #fff, 1433px 950px #fff,
    1568px 1149px #fff, 326px 165px #fff, 800px 109px #fff, 703px 1945px #fff,
    138px 415px #fff, 201px 881px #fff, 1549px 88px #fff, 505px 1877px #fff,
    1342px 692px #fff, 1025px 390px #fff, 157px 526px #fff, 1560px 1722px #fff,
    1068px 1331px #fff, 248px 955px #fff, 1692px 1665px #fff, 999px 1088px #fff,
    193px 1744px #fff, 1372px 1111px #fff, 186px 1252px #fff, 551px 347px #fff,
    91px 760px #fff, 744px 129px #fff, 594px 68px #fff, 397px 1078px #fff,
    747px 39px #fff, 1615px 1761px #fff, 523px 940px #fff, 288px 556px #fff,
    741px 1675px #fff, 1994px 1513px #fff, 1448px 1387px #fff,
    1968px 1884px #fff, 900px 1753px #fff, 475px 1147px #fff, 546px 107px #fff,
    617px 210px #fff, 1635px 628px #fff, 176px 1685px #fff, 778px 1468px #fff,
    1282px 1150px #fff, 1306px 643px #fff, 336px 1863px #fff, 1061px 126px #fff,
    1178px 1981px #fff, 1093px 1237px #fff, 1332px 1751px #fff, 289px 197px #fff,
    208px 357px #fff, 444px 1561px #fff, 1098px 1695px #fff, 77px 1118px #fff,
    1011px 1359px #fff, 410px 1857px #fff, 1487px 930px #fff, 1092px 1065px #fff,
    1206px 830px #fff, 603px 471px #fff, 1999px 1807px #fff, 1360px 848px #fff,
    697px 1298px #fff, 843px 1175px #fff, 1157px 311px #fff, 1642px 1088px #fff,
    290px 821px #fff, 986px 1955px #fff, 1956px 1755px #fff, 1043px 989px #fff,
    1863px 206px #fff, 1344px 1662px #fff, 347px 1951px #fff, 1585px 344px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 475px 108px #fff, 1409px 1525px #fff, 1770px 1666px #fff,
    1206px 425px #fff, 687px 824px #fff, 484px 207px #fff, 915px 202px #fff,
    1834px 1690px #fff, 936px 1384px #fff, 1205px 486px #fff, 238px 253px #fff,
    1761px 1731px #fff, 1043px 751px #fff, 1518px 1634px #fff, 622px 1387px #fff,
    740px 328px #fff, 970px 1067px #fff, 423px 1428px #fff, 1450px 996px #fff,
    370px 576px #fff, 415px 1719px #fff, 590px 1238px #fff, 1668px 1202px #fff,
    382px 1105px #fff, 1406px 1276px #fff, 1176px 1370px #fff, 807px 553px #fff,
    101px 401px #fff, 619px 1663px #fff, 1690px 920px #fff, 101px 1606px #fff,
    887px 834px #fff, 1523px 1885px #fff, 987px 74px #fff, 1644px 1517px #fff,
    1277px 473px #fff, 1001px 73px #fff, 941px 117px #fff, 728px 1345px #fff,
    816px 802px #fff, 172px 240px #fff, 188px 239px #fff, 415px 1722px #fff,
    1545px 1592px #fff, 679px 1319px #fff, 47px 111px #fff, 1472px 1096px #fff,
    1826px 1713px #fff, 1552px 1542px #fff, 1408px 928px #fff, 999px 234px #fff,
    515px 1521px #fff, 58px 588px #fff, 1912px 239px #fff, 531px 454px #fff,
    873px 565px #fff, 22px 434px #fff, 884px 1434px #fff, 70px 938px #fff,
    1256px 1324px #fff, 971px 701px #fff, 607px 630px #fff, 1231px 702px #fff,
    415px 1840px #fff, 1103px 1332px #fff, 1267px 627px #fff, 383px 575px #fff,
    1977px 394px #fff, 634px 17px #fff, 1785px 1342px #fff, 690px 177px #fff,
    1031px 1313px #fff, 1297px 331px #fff, 783px 1390px #fff, 1037px 1860px #fff,
    1925px 334px #fff, 1418px 1508px #fff, 96px 1146px #fff, 1367px 1118px #fff,
    619px 781px #fff, 304px 870px #fff, 533px 1389px #fff, 855px 848px #fff,
    1436px 1653px #fff, 32px 673px #fff, 1271px 1014px #fff, 257px 1960px #fff,
    1818px 1277px #fff, 1426px 1244px #fff, 1286px 1347px #fff,
    167px 1034px #fff, 848px 1258px #fff, 1594px 677px #fff, 301px 246px #fff,
    534px 1449px #fff, 1569px 1135px #fff, 1832px 1880px #fff, 220px 478px #fff,
    1601px 304px #fff, 1918px 1135px #fff, 31px 712px #fff, 1270px 1422px #fff,
    389px 1148px #fff, 1977px 415px #fff, 772px 1380px #fff, 1794px 1424px #fff,
    1694px 857px #fff, 1611px 1187px #fff, 1136px 1740px #fff, 1342px 401px #fff,
    1876px 1282px #fff, 1733px 1773px #fff, 564px 1126px #fff,
    1456px 1699px #fff, 1450px 870px #fff, 106px 1696px #fff, 1013px 799px #fff,
    106px 1246px #fff, 1215px 1043px #fff, 1337px 385px #fff, 1336px 35px #fff,
    299px 1666px #fff, 1955px 18px #fff, 640px 1419px #fff, 1386px 279px #fff,
    1115px 170px #fff, 1110px 593px #fff, 1586px 644px #fff, 1433px 950px #fff,
    1568px 1149px #fff, 326px 165px #fff, 800px 109px #fff, 703px 1945px #fff,
    138px 415px #fff, 201px 881px #fff, 1549px 88px #fff, 505px 1877px #fff,
    1342px 692px #fff, 1025px 390px #fff, 157px 526px #fff, 1560px 1722px #fff,
    1068px 1331px #fff, 248px 955px #fff, 1692px 1665px #fff, 999px 1088px #fff,
    193px 1744px #fff, 1372px 1111px #fff, 186px 1252px #fff, 551px 347px #fff,
    91px 760px #fff, 744px 129px #fff, 594px 68px #fff, 397px 1078px #fff,
    747px 39px #fff, 1615px 1761px #fff, 523px 940px #fff, 288px 556px #fff,
    741px 1675px #fff, 1994px 1513px #fff, 1448px 1387px #fff,
    1968px 1884px #fff, 900px 1753px #fff, 475px 1147px #fff, 546px 107px #fff,
    617px 210px #fff, 1635px 628px #fff, 176px 1685px #fff, 778px 1468px #fff,
    1282px 1150px #fff, 1306px 643px #fff, 336px 1863px #fff, 1061px 126px #fff,
    1178px 1981px #fff, 1093px 1237px #fff, 1332px 1751px #fff, 289px 197px #fff,
    208px 357px #fff, 444px 1561px #fff, 1098px 1695px #fff, 77px 1118px #fff,
    1011px 1359px #fff, 410px 1857px #fff, 1487px 930px #fff, 1092px 1065px #fff,
    1206px 830px #fff, 603px 471px #fff, 1999px 1807px #fff, 1360px 848px #fff,
    697px 1298px #fff, 843px 1175px #fff, 1157px 311px #fff, 1642px 1088px #fff,
    290px 821px #fff, 986px 1955px #fff, 1956px 1755px #fff, 1043px 989px #fff,
    1863px 206px #fff, 1344px 1662px #fff, 347px 1951px #fff, 1585px 344px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1211px 1835px #fff, 123px 674px #fff, 528px 139px #fff,
    1982px 70px #fff, 490px 1993px #fff, 659px 871px #fff, 131px 242px #fff,
    1798px 238px #fff, 885px 1512px #fff, 1901px 408px #fff, 121px 409px #fff,
    318px 1088px #fff, 1840px 1990px #fff, 1112px 1297px #fff, 799px 116px #fff,
    402px 418px #fff, 1317px 1668px #fff, 665px 1957px #fff, 552px 625px #fff,
    197px 804px #fff, 134px 326px #fff, 229px 1317px #fff, 1950px 756px #fff,
    1832px 1973px #fff, 1817px 659px #fff, 90px 1390px #fff, 588px 1883px #fff,
    1548px 1333px #fff, 1660px 1500px #fff, 1527px 742px #fff, 559px 349px #fff,
    1906px 1493px #fff, 67px 1632px #fff, 1631px 204px #fff, 1561px 1642px #fff,
    831px 243px #fff, 23px 17px #fff, 1576px 1622px #fff, 1415px 706px #fff,
    1048px 1641px #fff, 1075px 1617px #fff, 180px 1294px #fff, 1771px 189px #fff,
    175px 814px #fff, 1084px 840px #fff, 412px 741px #fff, 1365px 1099px #fff,
    1324px 265px #fff, 808px 1689px #fff, 450px 1715px #fff, 1114px 1216px #fff,
    954px 1937px #fff, 1896px 1714px #fff, 364px 499px #fff, 388px 1082px #fff,
    405px 1305px #fff, 1014px 1784px #fff, 1685px 1093px #fff, 349px 880px #fff,
    392px 1701px #fff, 1539px 941px #fff, 1352px 157px #fff, 1446px 1711px #fff,
    1490px 892px #fff, 1116px 1243px #fff, 134px 302px #fff, 1093px 1248px #fff,
    508px 18px #fff, 1411px 1303px #fff, 1027px 1414px #fff, 584px 1800px #fff,
    1788px 813px #fff, 1847px 1800px #fff, 917px 738px #fff, 1704px 229px #fff,
    1595px 1482px #fff, 43px 871px #fff, 1209px 726px #fff, 557px 1022px #fff,
    791px 1199px #fff, 86px 891px #fff, 102px 1742px #fff, 463px 1022px #fff,
    982px 919px #fff, 1568px 105px #fff, 86px 326px #fff, 1177px 825px #fff,
    1290px 596px #fff, 1030px 957px #fff, 961px 1692px #fff, 1059px 1636px #fff,
    1168px 695px #fff, 1962px 1439px #fff, 1566px 894px #fff, 885px 1023px #fff,
    943px 1519px #fff, 736px 89px #fff, 488px 1535px #fff, 318px 1676px #fff,
    809px 1642px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1211px 1835px #fff, 123px 674px #fff, 528px 139px #fff,
    1982px 70px #fff, 490px 1993px #fff, 659px 871px #fff, 131px 242px #fff,
    1798px 238px #fff, 885px 1512px #fff, 1901px 408px #fff, 121px 409px #fff,
    318px 1088px #fff, 1840px 1990px #fff, 1112px 1297px #fff, 799px 116px #fff,
    402px 418px #fff, 1317px 1668px #fff, 665px 1957px #fff, 552px 625px #fff,
    197px 804px #fff, 134px 326px #fff, 229px 1317px #fff, 1950px 756px #fff,
    1832px 1973px #fff, 1817px 659px #fff, 90px 1390px #fff, 588px 1883px #fff,
    1548px 1333px #fff, 1660px 1500px #fff, 1527px 742px #fff, 559px 349px #fff,
    1906px 1493px #fff, 67px 1632px #fff, 1631px 204px #fff, 1561px 1642px #fff,
    831px 243px #fff, 23px 17px #fff, 1576px 1622px #fff, 1415px 706px #fff,
    1048px 1641px #fff, 1075px 1617px #fff, 180px 1294px #fff, 1771px 189px #fff,
    175px 814px #fff, 1084px 840px #fff, 412px 741px #fff, 1365px 1099px #fff,
    1324px 265px #fff, 808px 1689px #fff, 450px 1715px #fff, 1114px 1216px #fff,
    954px 1937px #fff, 1896px 1714px #fff, 364px 499px #fff, 388px 1082px #fff,
    405px 1305px #fff, 1014px 1784px #fff, 1685px 1093px #fff, 349px 880px #fff,
    392px 1701px #fff, 1539px 941px #fff, 1352px 157px #fff, 1446px 1711px #fff,
    1490px 892px #fff, 1116px 1243px #fff, 134px 302px #fff, 1093px 1248px #fff,
    508px 18px #fff, 1411px 1303px #fff, 1027px 1414px #fff, 584px 1800px #fff,
    1788px 813px #fff, 1847px 1800px #fff, 917px 738px #fff, 1704px 229px #fff,
    1595px 1482px #fff, 43px 871px #fff, 1209px 726px #fff, 557px 1022px #fff,
    791px 1199px #fff, 86px 891px #fff, 102px 1742px #fff, 463px 1022px #fff,
    982px 919px #fff, 1568px 105px #fff, 86px 326px #fff, 1177px 825px #fff,
    1290px 596px #fff, 1030px 957px #fff, 961px 1692px #fff, 1059px 1636px #fff,
    1168px 695px #fff, 1962px 1439px #fff, 1566px 894px #fff, 885px 1023px #fff,
    943px 1519px #fff, 736px 89px #fff, 488px 1535px #fff, 318px 1676px #fff,
    809px 1642px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./abstracts/helpers";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/footer";
@import "./layout/sections";

@import "./sections/about";
@import "./sections/contact";
@import "./sections/hero";
@import "./sections/projects";
